main {
    margin-top: 55px;
}

body {
    background-color: rgb(20, 20, 20);
    background-image: url(http://bsnscb.com/data/out/83/39292493-galaxy-wallpapers.jpeg);
    background-size: 1200px;
    background-attachment: fixed;
    margin: 0;
    color: white;
    text-align: center;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
    text-align: center;
    top: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(22, 22, 22);
}

footer {
    width: 100%;
    color: white;
    background-color: #333;
    padding: 10px 0px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.card {
    background-color: rgba(87, 87, 87, 0.295);
    margin: 15px auto;
    width: 500px;
    padding: 20px 20px;
}



img {
    height: 200px;
}